GorXmlValidation/Content/XmlRulesSchema.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicationValidators">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rule">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="condition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="when">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="match" />
                                <xs:element name="notEmpty" />
                                <xs:element name="greater" />
                                <xs:element name="lower" />
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="then">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="match">
                                  <xs:complexType>
                                    <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="notEmpty">
                                  <xs:complexType>
                                    <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="greater">
                                  <xs:complexType>
                                    <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="lower">
                                  <xs:complexType>
                                    <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="property">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="match">
                      <xs:complexType>
                        <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="notEmpty">
                      <xs:complexType>
                        <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="greater">
                      <xs:complexType>
                        <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="lower">
                      <xs:complexType>
                        <xs:attribute name="errorMessageKey" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>